<div class="container">
<h1>Edit position</h1>
 
<%= form_with(model: @position, local: true) do |form| %>
 
    <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@position.errors.count, "error") %> prohibited
        this position from being saved:
      </h2>
      <ul>
        <% @position.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :active %><br>
    <%= form.check_box :active %>
  </p> 

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= label_tag(:skills, "Skills") %>
    <%= text_field_tag(:skills, @skills.join(", ")) %>
  </p>

  <p>
    <%= label_tag(:traits, "Traits") %>
    <%= text_field_tag(:traits, @traits.join(", ")) %>
  </p>

  <p>
    <%= form.submit(class: 'btn btn-success') %>
  </p>
  
<% end %>
 <hr>
<%= link_to 'Back', position_path, class: 'btn btn-primary' %>
<%= link_to 'Destroy', position_path(@position),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger' %>
</div>