<div class="container">

<h1>
    <%= @position.title %>
</h1>

<p>
  <strong>Active:</strong>
  <%= @position.active %>
</p>

<p>
  <strong>Description:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @skills.join(", ") %>
</p>

<p>
  <strong>Traits:</strong>
  <%= @traits.join(", ") %>
</p>

<%= link_to 'Edit', edit_position_path(@position), class: 'btn btn-warning' %>
<%= link_to 'Positions', positions_path, class: 'btn btn-primary' %>
<%= link_to 'Create New Applicant', "/applicants/new/#{@position.id}", class: 'btn btn-success' %>
</div>