<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Choose a recruiter</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p>Suggested recruiter is</p>
  <h4><%= @choice[:name] %></h4>
  <p>Based on:<p>
  <h4><%= @choice[:on] %></h4>
  <p>You can chose another:</p>
  <%= form_with( url: "update_recruiter/#{@choice[:applicant_id]}", local: true) do %>
    <%= token_tag %> 
    <%= select_tag(:chosen_recruiter, options_for_select(@options, @choice[:id])) %>
    <%= submit_tag("Save") %>
  <% end %>
</div>
<div class="modal-footer">

</div>