<div class="container">
<h1>Applicant</h1>
<p>
    <strong>Position:</strong>
    <%= @applicant.position.title %>
</p>

<p>
    <strong>Name:</strong>
    <%= @applicant.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @applicant.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
    <strong>Recruiter:</strong>
    <% if @applicant.recruiter %>
        <%= link_to @applicant.recruiter.name + " " + @applicant.recruiter.surname, "/recruiters/#{@applicant.recruiter.id}" %>
    <% else %>
        Not selected
    <% end %>
</p>

<p>
    <strong>Skills:</strong>
</p>
<ul>
<% for s in @applicant.skills do %>
    <li><%= s.name %></li>
<% end %>
</ul>

<p>
    <strong>Traits:</strong>
</p>
<ul>
<% n = 0 %>
<% for t in @applicant.traits do %>
    <li>Score: <%= @applicant.trait_scores[n].score %>, Trait: <%= @applicant.traits[n].name %></li>
    <% n += 1 %>
<% end %>
</ul>

<p>
    <strong>Meeting time:</strong>
    <% if @applicant.meeting %>
        <%= @applicant.meeting %>
    <% else %>
        Not invited
    <% end %>
</p>
<% if @applicant.recruiter %>
<%= simple_form_for(@applicant, method: 'post', url: "/applicant_invite/#{@applicant.id}", html: { class: 'form-inline' }) do |f| %>
    <strong>
        <%= f.input :meeting, label: 'Invite applicant to interview:', as: :datetime%>
    </strong>
    <%= f.submit 'Invite', { class: 'btn btn-warning' } %>
<% end %>
<% else %>
<p>Before inviting applicant to meeting select recruiter</p>
<% end %>

<hr/>
<%= link_to 'Edit', "/applicants/#{@applicant.id}/edit", {class: 'btn btn-warning'} %>
<%= link_to 'Applicants', applicants_path, {class: 'btn btn-primary'} %>
<%= link_to 'Select recruiter', "/applicants/#{@applicant.id}/recruiters",  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'}  %>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
